<div class="h-full overflow-y-auto bg-gray-50 py-6 px-2">
  <div class="max-w-7xl mx-auto">
    <div class="mb-4 px-2">
      <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
        Documentación Institucional
      </h2>
      <p class="text-gray-500 text-xs sm:text-lg mt-1">
        Acceda y descargue documentos emitidos por las diferentes unidades del
        Gobierno Autónomo Municipal de Sacaba.
      </p>
    </div>

    <div class="bg-white rounded-xl shadow-md p-2 mb-4">
      <filter-documents
        (onFilter)="getData($event)"
        (onReset)="resetFilter()"
      />
    </div>

    <div class="bg-white rounded-xl shadow-md p-2">
      <document-list
        [limit]="limit()"
        [offset]="offset()"
        [dataSize]="dataSize()"
        [dataSource]="dataSource()"
        (onDowload)="downloadDocument($event)"
        (onPageChange)="changePage($event)"
      />
    </div>
  </div>
</div>
