<form [formGroup]="directoryForm" (ngSubmit)="save()">
  <div class="flex flex-col gap-y-6 pt-1">
    <div class="flex flex-col gap-1">
      <p-floatlabel variant="on">
        <label>Nombre</label>
        <input
          pInputText
          class="w-full"
          formControlName="name"
          [invalid]="formUtils.isInvalid(directoryForm.get('name'))"
        />
      </p-floatlabel>
      @if (formUtils.isInvalid(directoryForm.get("name"))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(directoryForm.get("name")) }}
        </p-message>
      }
    </div>
    <div class="flex flex-col sm:flex-row gap-2">
      <div class="flex flex-col gap-1 w-full">
        <p-floatlabel variant="on">
          <input
            inputId="internalTxt"
            type="text"
            pInputText
            [fluid]="true"
            formControlName="internalPhone"
          />
          <label for="internalTxt">Numero interno</label>
        </p-floatlabel>
        @if (formUtils.isInvalid(directoryForm.get("internalPhone"))) {
          <p-message severity="error" size="small" variant="simple">
            {{ formUtils.getErrorMessage(directoryForm.get("internalPhone")) }}
          </p-message>
        }
      </div>
      <div class="flex flex-col gap-1 w-full">
        <p-floatlabel variant="on">
          <input
            inputId="externalTxt"
            type="text"
            pInputText
            [fluid]="true"
            formControlName="landlinePhone"
          />
          <label for="externalTxt">Numero fijo</label>
        </p-floatlabel>
        @if (formUtils.isInvalid(directoryForm.get("landlinePhone"))) {
          <p-message severity="error" size="small" variant="simple">
            {{ formUtils.getErrorMessage(directoryForm.get("landlinePhone")) }}
          </p-message>
        }
      </div>
    </div>

    @if (data.parent) {
      <p-floatlabel variant="on">
        <input
          id="parentLabel"
          pInputText
          [value]="data.parent.name"
          [disabled]="true"
          class="w-full"
        />
        <label for="parentLabel">Directorio superior</label>
      </p-floatlabel>
    }
  </div>
  <div class="p-dialog-footer">
    <p-button
      type="button"
      label="Cancelar"
      severity="secondary"
      (onClick)="close()"
    />
    <p-button type="submit" label="Guardar" />
  </div>
</form>
