<form [formGroup]="eventForm" (ngSubmit)="save()">
  <!-- Campos principales -->
  <div class="grid gap-4">
    <input
      pInputText
      type="text"
      id="username"
      placeholder="Username"
      formControlName="title"
      />

    <p-datePicker
      formControlName="startDate"
      [showTime]="true"
      dateFormat="yy-mm-dd"
      placeholder="Fecha de inicio"
      appendTo="body"
      >
    </p-datePicker>

    <p-datepicker
      formControlName="endDate"
      [showTime]="true"
      dateFormat="yy-mm-dd"
      placeholder="Fecha de finalización (opcional)"
      appendTo="body"
      >
    </p-datepicker>

    <p-checkbox
      formControlName="allDay"
      binary="true"
      label="Evento de todo el día"
    ></p-checkbox>
  </div>

  <p-fieldset
    legend="Recurrencia"
    [toggleable]="true"
    [collapsed]="true"
    class="mt-4"
    >
    <div formGroupName="recurrence" class="grid gap-3">
      <p-select
        formControlName="freq"
        [options]="freqOptions"
        placeholder="Frecuencia"
        appendTo="body"
        >
      </p-select>

      <p-inputNumber
        formControlName="interval"
        placeholder="Intervalo (cada cuántas unidades)"
      ></p-inputNumber>

      @if (eventForm.get('recurrence.freq')?.value === 'WEEKLY') {
        <p-multiSelect
          formControlName="byDay"
          [options]="weekdays"
          optionLabel="label"
          placeholder="Días de la semana"
          appendTo="body"
          >
        </p-multiSelect>
      }

      @if (eventForm.get('recurrence.freq')?.value === 'YEARLY') {
        <p-multiSelect
          formControlName="byMonth"
          [options]="months"
          optionLabel="label"
          placeholder="Meses"
          appendTo="body"
          >
        </p-multiSelect>
        <p-inputNumber
          formControlName="byMonthDay"
          placeholder="Día del mes"
        ></p-inputNumber>
      }

      <p-datepicker
        formControlName="until"
        placeholder="Repetir hasta (opcional)"
        dateFormat="yy-mm-dd"
        appendTo="body"
        >
      </p-datepicker>

      <p-inputNumber
        formControlName="count"
        placeholder="Cantidad de repeticiones (opcional)"
        >
      </p-inputNumber>
    </div>
  </p-fieldset>

  <div class="mt-4 flex justify-end">
    <button
      pButton
      type="submit"
      label="Guardar Evento"
      icon="pi pi-check"
    ></button>
  </div>

  <div class="p-dialog-footer">
    <p-button label="Cancelar" severity="secondary" (onClick)="close()" />
    <p-button type="submit" label="Guardar" />
  </div>
</form>
