<hlm-dialog-header class="shrink-0 pb-4">
  <h3 hlmDialogTitle>
    @if (organizationalUnit) {
      Editar unidad organizacional
    } @else if (parent) {
      Crear unidad hija
    } @else {
      Crear unidad raíz
    }
  </h3>
</hlm-dialog-header>

<form
  id="organizational-unit-form"
  class="flex min-h-0 flex-col gap-5 pb-4"
  [formRoot]="organizationalUnitForm"
>
  <hlm-field data-disabled="true">
    <label hlmFieldLabel for="input-disabled">Raíz</label>
    <input
      hlmInput
      id="input-disabled"
      disabled
      [value]="parent ? parent.name : '- UNIDAD SUPERIOR -'"
    />
  </hlm-field>

  <div hlmField>
    <label hlmFieldLabel for="organizational-unit-name">Nombre</label>
    <input
      hlmInput
      id="organizational-unit-name"
      type="text"
      autocomplete="organization"
      placeholder="Ej. Dirección Administrativa"
      [formField]="organizationalUnitForm.name"
    />

    @if (organizationalUnitForm.name().touched()) {
      @for (error of organizationalUnitForm.name().errors(); track error.kind) {
        <hlm-field-error [validator]="error.kind">
          {{ error.message }}
        </hlm-field-error>
      }
    }
  </div>

  <div hlmField orientation="horizontal">
    <hlm-checkbox
      inputId="organizational-unit-active"
      [formField]="organizationalUnitForm.isActive"
    />
    <label hlmFieldLabel for="organizational-unit-active"> Activo </label>
  </div>
</form>

<hlm-dialog-footer class="shrink-0">
  <button
    hlmBtn
    type="button"
    variant="outline"
    [disabled]="organizationalUnitForm().submitting()"
    (click)="close()"
  >
    Cancelar
  </button>

  <button
    hlmBtn
    type="submit"
    form="organizational-unit-form"
    [disabled]="organizationalUnitForm().submitting()"
  >
    @if (organizationalUnitForm().submitting()) {
      <hlm-spinner data-icon="inline-start" />
      Guardando...
    } @else {
      Guardar
    }
  </button>
</hlm-dialog-footer>
