<div class="flex items-center justify-between mb-4">
  <h2 class="text-2xl font-semibold">Tutoriales</h2>
  @if (canCreate()) {
    <!-- <app-ui-button
      label="Agregar"
      icon="ui-icon ui-icon-plus"
      iconPos="left"
      size="small"
      (onClick)="openEditorDialog()"
    /> -->
  }
</div>
<div class="card">
  <!-- <app-ui-table
    #table
    [value]="dataSource()"
    [totalRecords]="dataSize()"
    [globalFilterFields]="['name']"
    [paginator]="true"
    [rows]="10"
    size="small"
  >
    <ng-template appUiTemplate="caption">
      <div class="flex sm:justify-end">
        <div class="w-full sm:w-1/4">
          <search-input (search)="onSearch($event)" label="Buscar" />
        </div>
      </div>
    </ng-template>
    <ng-template appUiTemplate="header">
      <tr>
        <th>Titulo</th>
        <th>Resumen</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template appUiTemplate="body" let-item>
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.summary }}</td>
        <td>{{ item.category.name }}</td>
        <td>
          @if (item.isPublished) {
            <app-ui-tag severity="success" value="Publicado" />
          } @else {
            <app-ui-tag severity="warn" value="No publicado" />
          }
        </td>

        <td>
          <div class="flex gap-x-2">
            <app-ui-button
              icon="ui-icon ui-icon-cog"
              size="small"
              [routerLink]="['/admin/tutorials', item.id]"
              severity="secondary"
              rounded
            />
            @if (canUpdate()) {
              <app-ui-button
                icon="ui-icon ui-icon-pencil"
                size="small"
                (click)="openEditorDialog(item)"
                severity="secondary"
                rounded
              />
            }
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template appUiTemplate="emptymessage">
      <tr>
        <td colspan="5">Sin resultados.</td>
      </tr>
    </ng-template>
  </app-ui-table> -->
</div>
