<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="space-y-4">
    <!-- Título -->
    <div class="flex flex-col gap-1">
      <p-floatlabel>
        <input pInputText id="title" type="text" formControlName="title" />
        <label for="title">Título *</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get("title"))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get("title")) }}
        </p-message>
      }
    </div>

    <!-- Teléfono Interno -->
    <p-floatlabel>
      <input
        pInputText
        id="internalPhone"
        type="tel"
        formControlName="internalPhone"
      />
      <label for="internalPhone">Teléfono Interno</label>
    </p-floatlabel>

    <!-- Teléfono Externo -->
    <p-floatlabel>
      <input
        pInputText
        id="externalPhone"
        type="tel"
        formControlName="externalPhone"
      />
      <label for="externalPhone">Teléfono Externo</label>
    </p-floatlabel>

    <!-- Orden -->
    <div class="flex flex-col gap-1">
      <p-floatlabel>
        <p-inputnumber
          id="order"
          formControlName="order"
          [min]="0"
        ></p-inputnumber>
        <label for="order">Orden *</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get("title"))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get("title")) }}
        </p-message>
      }
    </div>

    <!-- Sección -->
    <div class="flex flex-col gap-1">
      <p-floatlabel>
        <p-select
          id="sectionId"
          formControlName="sectionId"
          [options]="[]"
          optionLabel="name"
          optionValue="id"
          placeholder="Seleccione una sección"
        ></p-select>
        <label for="sectionId">Sección *</label>
      </p-floatlabel>
      @if (formUtils.isInvalid(form.get("sectionId"))) {
        <p-message severity="error" size="small" variant="simple">
          {{ formUtils.getErrorMessage(form.get("sectionId")) }}
        </p-message>
      }
    </div>
  </div>

  <!-- Acciones -->
  <!-- <div class="form-actions flex gap-2 mt-6">
    <button
      pButton
      type="submit"
      label="Guardar"
    ></button>
    <button
      pButton
      type="button"
      label="Limpiar"
      severity="secondary"
      (click)="resetForm()"
    ></button>
  </div> -->

  <div class="p-dialog-footer">
    <p-button
      type="button"
      label="Cancelar"
      severity="secondary"
      (onClick)="close()"
    />
    <p-button type="submit" label="Guardar" />
  </div>
</form>
