<form [formGroup]="blockForm" (ngSubmit)="save()">
  <div class="mt-1">
    @if (data.type !== "TEXT" && data.type !== "VIDEO_URL") {
      <div class="flex flex-col gap-1">
        <p-fileUpload
          [auto]="false"
          [multiple]="false"
          [accept]="getFileAccept()"
          [showCancelButton]="false"
          [showUploadButton]="false"
          chooseLabel="Seleccionar"
          (onSelect)="selectFile($event)"
        >
          <ng-template #content let-files>
            @if (files?.length > 0) {
              @let file = files[0];
              <div class="flex items-center gap-x-4 p-2">
                <file-icon [fileName]="file.name" />
                <div class="flex flex-col min-w-0">
                  <span class="text-sm font-medium truncate">
                    {{ file.name }}
                  </span>
                  <span class="text-xs text-surface-500">
                    {{ file.size | fileSize }}
                  </span>
                </div>
              </div>
            } @else if (data.block?.file) {
              <div class="flex items-center gap-x-4 p-2">
                <file-icon [fileName]="data.block?.file!.originalName" />
                <div class="flex flex-col min-w-0">
                  <span class="text-sm font-medium truncate">
                    {{ data.block?.file!.originalName }}
                  </span>
                  <span class="text-xs text-surface-500">
                    {{ data.block?.file!.size | fileSize }}
                  </span>
                </div>
              </div>
            } @else {
              <div class="p-2 text-center">
                <span class="text-sm text-surface-500">
                  Extensiones permitidas: {{ getAllowedExtensionsLabel() }}
                </span>
              </div>
            }
          </ng-template>
        </p-fileUpload>
        @if (formSubmitted() && !file && !data.block?.file) {
          <p-message severity="error" size="small" variant="simple">
            El archivo es requerido.
          </p-message>
        }
      </div>
    }

    @if (data.type === "TEXT") {
      <div class="flex flex-col gap-1">
        <p-editor
          formControlName="content"
          [style]="{ height: '300px' }"
          placeholder="Ingrese el contenido"
        >
          <ng-template #header>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-code"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <button class="ql-blockquote"></button>
            </span>

            <span class="ql-formats">
              <button class="ql-link"></button>
              <button class="ql-clean"></button>
            </span>
          </ng-template>
        </p-editor>
        @if (formUtils.isInvalid(blockForm.get("content"))) {
          <p-message severity="error" size="small" variant="simple">
            {{ formUtils.getErrorMessage(blockForm.get("content")) }}
          </p-message>
        }
      </div>
    } @else {
      <div class="flex flex-col gap-1 mt-6">
        <p-floatlabel variant="on">
          <input
            pInputText
            type="url"
            class="w-full"
            autocomplete="off"
            formControlName="content"
            []
            [placeholder]="
              data.type === 'VIDEO_URL'
                ? 'https://www.youtube.com/watch?v=...'
                : 'Descripción del bloque'
            "
            [invalid]="formUtils.isInvalid(blockForm.get('content'))"
          />
          <label>
            @if (data.type === "VIDEO_URL") {
              URL del video
            } @else {
              Descripción (Opcional)
            }
          </label>
        </p-floatlabel>
        @if (formUtils.isInvalid(blockForm.get("content"))) {
          <p-message severity="error" size="small" variant="simple">
            {{ formUtils.getErrorMessage(blockForm.get("content")) }}
          </p-message>
        }
      </div>
    }
  </div>
  <div class="p-dialog-footer">
    <p-button
      type="button"
      label="Cancelar"
      severity="secondary"
      (onClick)="close()"
    />
    <p-button type="submit" label="Guardar" [disabled]="!isFormValid" />
  </div>
</form>
