<section class="max-w-7xl mx-auto px-2 py-2 sm:py-6">
  <header class="mb-4 text-center md:text-left">
    <h1 class="text-xl lg:text-3xl font-semibold text-primary-700">
      Calendario Institucional
    </h1>
    <p class="text-gray-600 text-sm md:text-base mt-1">
      Fechas y actividades oficiales del Gobierno Autónomo Municipal de Sacaba.
    </p>
    <div class="mt-2 w-full h-[2px] bg-primary-600 rounded"></div>
  </header>

  <full-calendar class="rounded-xl shadow-sm border border-slate-300 bg-white p-4" [options]="calendarOptions"></full-calendar>
</section>
