<section class="max-w-7xl mx-auto px-2 py-2 sm:py-6">
  <div class="mb-4 text-center md:text-left">
    <h1 class="text-xl lg:text-3xl font-semibold text-primary-700">
      Tutoriales
    </h1>
    <p class="text-gray-600 text-sm md:text-base mt-1">
      Anuncios y avisos oficiales para funcionarios municipales.
    </p>
    <div class="mt-2 w-full h-0.5 bg-primary-600 rounded"></div>
  </div>
</section>

<section class="py-2">
  <div class="max-w-7xl mx-auto px-4">
    <!-- Buscador -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4">
      <!-- <p-inputText
      [ngModel]="term"
      (ngModelChange)="onSearch($event)"
      placeholder="Buscar tutorial..."
      class="w-full sm:max-w-xs"
    ></p-inputText> -->
  </div>

  <!-- Loading -->
  <!-- <p-progressSpinner
  *ngIf="loading"
  styleClass="mx-auto mt-10 block"
></p-progressSpinner> -->

<!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  @for (t of dataSource(); track t) {
    <!-- <a
      class="cursor-pointer rounded-2xl overflow-hidden shadow-md bg-white hover:shadow-lg transition-shadow"
      [routerLink]="t.slug"
      >
      <img
        [src]="t.imageUrl"
        alt="thumbnail"
        class="w-full h-48 object-cover"
        />
      <div class="p-6">
        <h2 class="text-xl font-semibold text-surface-800 line-clamp-2">
          {{ t.title }}
        </h2>
        <p class="text-surface-600 text-sm mt-3 line-clamp-3">
          {{ t.description }}
        </p>
        <div class="mt-4 text-primary-600 text-sm flex items-center gap-1">
          <i class="pi pi-video"></i>
          {{ t.videos.length }} videos
        </div>
      </div>
    </a> -->
  }
</div>

<!-- Sin resultados -->
<!-- <div *ngIf="!loading && tutorials.length === 0" class="text-center mt-20">
<p class="text-surface-600 text-lg">No se encontraron tutoriales.</p>
</div> -->

<!-- Paginación -->
<div class="mt-10 flex justify-center">
  <p-paginator> </p-paginator>
</div>
</div>
</section>
