<div class="flex items-center justify-between mb-4">
  <h2 class="text-2xl font-semibold">Categorias tutoriales</h2>
  <!-- @if (canCreate()) {
    <app-ui-button
      label="Agregar"
      icon="ui-icon ui-icon-plus"
      iconPos="left"
      size="small"
      (onClick)="openEditorDialog()"
    />
  } -->
</div>

<!-- <app-ui-table
  #table
  size="small"
  [value]="dataSource()"
  [globalFilterFields]="['name']"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [rows]="10"
  [globalFilterFields]="['name']"
>
  <ng-template appUiTemplate="caption">
    <div class="flex">
      <app-ui-iconfield iconPosition="left" class="ml-auto">
        <app-ui-inputicon>
          <i class="ui-icon ui-icon-search"></i>
        </app-ui-inputicon>
        <input
          appUiInput
          type="text"
          (input)="table.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
      </app-ui-iconfield>
    </div>
  </ng-template>
  <ng-template appUiTemplate="header">
    <tr>
      <th>Nombre</th>
      <th style="width: 6rem"></th>
    </tr>
  </ng-template>
  <ng-template appUiTemplate="body" let-item>
    <tr>
      <td>{{ item.name }}</td>
      <td>
        <div class="flex gap-x-2">
          @if (canUpdate()) {
            <app-ui-button
              icon="ui-icon ui-icon-pencil"
              size="small"
              (click)="openEditorDialog(item)"
              severity="secondary"
              rounded
            />
          }
          @if (canDelete()) {
            <app-ui-button
              icon="ui-icon ui-icon-trash"
              size="small"
              (click)="remove(item)"
              severity="secondary"
              rounded
            />
          }
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template appUiTemplate="emptymessage">
    <tr>
      <td colspan="2">
        <div>Sin categorias registradas.</div>
      </td>
    </tr>
  </ng-template>
</app-ui-table>
<app-ui-confirmdialog /> -->
