<section class="bg-surface-50 border-b">
  <div class="max-w-7xl mx-auto px-4 py-6">
    <h1 class="text-2xl md:text-3xl font-semibold">Calendario Institucional</h1>
    <p class="mt-2 text-sm md:text-base text-muted max-w-2xl">
      Fechas y actividades oficiales del Gobierno Autónomo Municipal de Sacaba.
    </p>
  </div>
</section>

<section class="max-w-7xl mx-auto px-4 py-4 space-y-4">
  <full-calendar [options]="calendarOptions"></full-calendar>
</section>

<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '95vw' }"
  [style]="{ width: '600px' }"
  header="Detalle del evento"
  z
>
  @let event = selectedEvent();
  @if (event) {
    <div class="flex flex-col gap-y-6">
      <div class="flex flex-col gap-y-2">
        <span class="text-lg font-medium text-surface-900 leading-tight">
          {{ event.title }}
        </span>
        @if (event.extendedProps["description"]) {
          <span class="text-sm text-surface-700 leading-relaxed">
            {{ event.extendedProps["description"] }}
          </span>
        }
      </div>
      <div>
        @if (event.allDay) {
          <div class="flex items-center gap-x-2">
            <i class="pi pi-clock text-surface-500" style="font-size: 18px"></i>
            <span> {{ event.start | date: "longDate" }} </span>
          </div>
        } @else {
          <div class="flex items-center gap-x-2">
            <i class="pi pi-clock text-surface-500" style="font-size: 18px"></i>
            <span>Inicio: {{ event.start | date: "medium" }} </span>
          </div>
          <div class="flex items-center gap-x-2">
            <i class="pi pi-clock text-surface-500" style="font-size: 18px"></i>
            <span>Fin: {{ event.end | date: "medium" }} </span>
          </div>
        }
      </div>
      @let communication = event.extendedProps["communication"];
      @if (communication) {
        <div class="flex flex-col gap-y-2 border-t border-surface-300 pt-2">
          <span class="text-lg font-medium text-surface-900">
            {{ communication.type | titlecase }}
          </span>
          <span class="text-sm text-surface-700 leading-relaxed">
            {{ communication.reference }}
          </span>
          <span>CITE: {{ communication.code }}</span>
        </div>
        <div class="p-dialog-footer">
          <div class="pt-4 border-t border-surface-100">
            <a
              [routerLink]="['/communications', communication.id]"
              target="_blank"
              pButton
              label="Ver comunicado"
              (click)="displayDialog.set(false)"
            ></a>
          </div>
        </div>
      }
    </div>
  }
</p-dialog>
