<section class="bg-surface-50 border-b">
  <div class="max-w-7xl mx-auto px-4 py-6">
    <h1 class="text-2xl md:text-3xl font-semibold">Calendario Institucional</h1>
    <p class="mt-2 text-sm md:text-base text-muted max-w-2xl">
      Fechas y actividades oficiales del Gobierno Autónomo Municipal de Sacaba.
    </p>
  </div>
</section>

<section class="max-w-7xl mx-auto px-4 py-4 space-y-4">
  <full-calendar [options]="calendarOptions"></full-calendar>

  <!-- <p-dialog
    [(visible)]="dialogVisible"
    [modal]="true"
    [style]="{ width: '450px' }"
    [draggable]="false"
    [resizable]="false"
    header="{{ selectedEvent?.title }}"
  >
    <div class="flex flex-col gap-3">
      <div>
        <b>Fecha:</b>
        {{ selectedEvent?.start | date: "longDate" }}
      </div>

      <div *ngIf="selectedEvent?.extendedProps?.description">
        {{ selectedEvent.extendedProps.description }}
      </div>

      <a
        *ngIf="selectedEvent?.extendedProps?.communicationId"
        [routerLink]="[
          '/communications',
          selectedEvent.extendedProps.communicationId,
        ]"
        class="text-primary font-medium"
      >
        Ver comunicado relacionado
      </a>
    </div>
  </p-dialog> -->
</section>
<p-popover #op appendTo="body">
  <div class="flex flex-col gap-4 w-[200px]">Hola</div>
</p-popover>
