<!-- <form [formGroup]="form" (ngSubmit)="save()" class="space-y-6 pt-1">
  <div class="flex flex-col gap-1">
    <div>
      <label for="identityCandidate" class="mb-2 block text-sm font-medium">
        Usuario a importar *
      </label>
      <app-ui-autocomplete
        inputId="identityCandidate"
        formControlName="candidate"
        [minLength]="minimumSearchLength"
        [delay]="350"
        optionLabel="fullName"
        appendTo="body"
        [forceSelection]="true"
        [fluid]="true"
        emptyMessage="Sin resultados"
        placeholder="Buscar por nombre, usuario o correo"
        [suggestions]="candidates()"
        (completeMethod)="searchCandidates($event)"
        [invalid]="formUtils.isInvalid(form.controls.candidate)"
      >
        <ng-template appUiTemplate="item" let-option>
          <div class="flex flex-col">
            <span class="font-medium text-surface-900">
              {{ option.fullName | titlecase }}
            </span>
            <div class="flex items-center gap-x-2 text-sm">
              <span class="font-mono text-primary-600">
                &#64;{{ option.login }}
              </span>
              @if (option.email) {
                <span class="truncate">{{ option.email }}</span>
              } @else {
                <span class="text-surface-600">Sin correo</span>
              }
            </div>
          </div>
        </ng-template>
      </app-ui-autocomplete>
    </div>
    @if (formUtils.isInvalid(form.controls.candidate)) {
      <app-ui-message severity="error" size="small" variant="simple">
        Seleccione al menos un rol local para el usuario.
      </app-ui-message>
    }
    <small id="identityCandidate">
      Ingrese al menos 3 caracteres para buscar.
    </small>
  </div>

  @if (selectedCandidate(); as candidate) {
    <section class="rounded-lg border border-surface-300 p-3">
      <div class="flex items-start gap-3">
        <div
          class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-primary-100 text-primary-600"
        >
          <i class="ui-icon ui-icon-user"></i>
        </div>
        <div class="min-w-0 flex-1">
          <div class="min-w-0">
            <h3 class="truncate text-sm font-semibold text-surface-900">
              {{ candidate.fullName | titlecase }}
            </h3>
            <p class="font-mono text-xs text-primary-600">
              &#64;{{ candidate.login }}
            </p>
          </div>

          <div class="mt-3 space-y-2 text-xs text-surface-600">
            <div class="flex min-w-0 items-center gap-2">
              <i class="ui-icon ui-icon-envelope shrink-0 text-surface-400"></i>
              <span class="italic">
                {{ candidate.email ?? "Sin correo electrónico" }}
              </span>
            </div>

            <div class="flex items-center gap-2">
              <i class="ui-icon ui-icon-key shrink-0 text-surface-400"></i>
              <span class="font-mono">
                {{ candidate.externalKey }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  }
  <div class="flex flex-col gap-1">
    <app-ui-floatlabel class="w-full" variant="on">
      <app-ui-multiselect
        inputId="localRole"
        formControlName="roleIds"
        [options]="roles()"
        optionLabel="name"
        optionValue="id"
        appendTo="body"
        [fluid]="true"
        filterPlaceHolder="Nombre rol"
        [invalid]="formUtils.isInvalid(form.controls.roleIds)"
      >
        <ng-template appUiTemplate="item" let-option>
          <div class="flex flex-col">
            <span class="font-medium text-surface-900">{{ option.name }}</span>
            <span class="text-xs text-surface-600">
              {{ option.description }}
            </span>
          </div>
        </ng-template>
      </app-ui-multiselect>
      <label for="localRole">Roles del usuario *</label>
    </app-ui-floatlabel>

    @if (formUtils.isInvalid(form.controls.roleIds)) {
      <app-ui-message severity="error" size="small" variant="simple">
        Seleccione al menos un rol local para el usuario.
      </app-ui-message>
    }
  </div>

  @if (importError()) {
    <app-ui-message severity="error"> {{ importError() }} </app-ui-message>
  }

  <div class="app-dialog-actions">
    <app-ui-button
      label="Cancelar"
      type="button"
      severity="secondary"
      (onClick)="close()"
    />
    <app-ui-button label="Importar" type="submit" [loading]="isSaving()" />
  </div>
</form> -->
