<section class="max-w-7xl mx-auto px-2 py-2 sm:py-6">
  
  <div class="mb-4 text-center md:text-left">
    <h1 class="text-xl lg:text-3xl font-semibold text-primary-700">
      Comunicados Institucionales
    </h1>
    <p class="text-gray-600 text-sm md:text-base mt-1">
      Anuncios y avisos oficiales para funcionarios municipales.
    </p>
    <div class="mt-2 w-full h-0.5 bg-primary-600 rounded"></div>
  </div>

  <div class="w-full flex flex-col gap-2 sm:flex-row justify-end mb-3">
    <div class="w-full md:w-56">
      <p-select
        [options]="types()"
        optionLabel="name"
        optionValue="id"
        placeholder="Tipo"
        class="w-full"
        [(ngModel)]="typeId"
      />
    </div>
    <div class="w-full md:w-64">
      <search-input (search)="term.set($event)" />
    </div>
  </div>

  <div class="card">
    @if (!communicationResource.isLoading() && communicationResource.hasValue()) {
      <p-table
        size="small"
        rowHover="true"
        responsiveLayout="stack"
        [value]="communicationResource.value().communications"
        >
        <ng-template #header>
          <tr>
            <th>Tipo</th>
            <th>Cite</th>
            <th>Referencia</th>
            <th>Fecha</th>
            <th style="width: 6rem"></th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td>{{ item.type.name }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.reference }}</td>
            <td>
              {{ item.publicationDate | date : "shortDate" }}
            </td>
            <td>
              <div class="w-full flex gap-x-2 justify-end sm:justify-center">
                <a
                  [routerLink]="item.id"
                  size="small"
                  pTooltip="Ver detalle"
                  tooltipPosition="bottom"
                  icon="pi pi-eye"
                  [outlined]="true"
                  [rounded]="true"
                  pButton
                >
                </a>
                <p-button
                  icon="pi pi-download"
                  size="small"
                  pTooltip="Descargar"
                  tooltipPosition="bottom"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="download(item)"
                />
              </div>
            </td>
          </tr>
        </ng-template>
         <ng-template #emptymessage>
            <tr>
                <td colspan="5">
                  <div class="font-medium py-1">
                    No se encontraron resultados
                  </div>
                </td>
            </tr>
          </ng-template>
      </p-table>
    }
    @else {
      <p-progressbar mode="indeterminate" [style]="{ height: '8px' }" />
    }
  </div>
</section>
