<!-- <div class="flex items-center justify-between mb-4">
  <h2 class="text-2xl font-semibold">Eventos</h2>
  @if (canCreate()) {
    <app-ui-button
      label="Agregar"
      icon="ui-icon ui-icon-plus"
      iconPos="left"
      size="small"
      (onClick)="openEventDialog()"
    />
  }
</div>
<app-ui-table
  #table
  [value]="dataSource()"
  [totalRecords]="dataSize()"
  [paginator]="true"
  [totalRecords]="dataSize()"
  [rows]="limit()"
  [first]="offset()"
  [lazy]="true"
  size="small"
  [rowsPerPageOptions]="[10, 25, 50]"
  currentPageReportTemplate="{first} - {last} de {totalRecords}"
  [showCurrentPageReport]="true"
  class="text-sm"
>
  <ng-template appUiTemplate="caption">
    <div class="flex sm:justify-end">
      <div class="w-full sm:w-1/4">
        <search-input (search)="onSearch($event)" label="Buscar" />
      </div>
    </div>
  </ng-template>
  <ng-template appUiTemplate="header">
    <tr>
      <th>Evento</th>
      <th>Descripcion</th>
      <th>Recurrente</th>
      <th>Estado</th>
      <th style="width: 3rem"></th>
    </tr>
  </ng-template>

  <ng-template appUiTemplate="body" let-item>
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.description ? item.description : "----" }}</td>
      <td>{{ item.recurrenceRule === null ? "NO" : "SI" }}</td>
      <td>
        @if (item.isActive) {
          <app-ui-tag severity="success" value="Activo" />
        } @else {
          <app-ui-tag severity="danger" value="Inactivo" />
        }
      </td>
      <td>
        @if (hasRowActions()) {
          <button
            appUiButton
            icon="ui-icon ui-icon-ellipsis-v"
            class="ui-button-ghost"
            size="small"
            [rounded]="true"
            (click)="openMenu(item, $event); menu.toggle($event)"
          ></button>
        }
      </td>
    </tr>
  </ng-template>
  <ng-template appUiTemplate="emptymessage">
    <tr>
      <td colspan="6">Sin resultados.</td>
    </tr>
  </ng-template>
</app-ui-table>
<app-ui-menu #menu [popup]="true" [model]="menuItems"></app-ui-menu>
<app-ui-confirmdialog /> -->
