@import "tailwindcss";
@import "primeicons/primeicons.css";

@plugin "tailwindcss-primeui";
@plugin '@tailwindcss/typography';

/* DIALOG CONFI */
.p-dialog-content {
  margin-bottom: 60px;
}
.p-dialog-footer {
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.page-transition {
  view-transition-name: content;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::view-transition-old(content) {
  animation: fade-out 180ms ease-out;
}

::view-transition-new(content) {
  animation: fade-in 180ms ease-in;
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide {
  animation: fade-slide-in 0.4s ease-out;
}

/* ===== CDK Drag & Drop – global ===== */
.cdk-drag-preview {
  border: 1px solid var(--p-primary-500);
  box-sizing: border-box;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: var(--p-surface-0);
  padding: 16px;
  overflow-y: hidden;
}

/* Espacio que queda en la lista */
.cdk-drag-placeholder {
  opacity: 0.25;
}

/* Animación suave SOLO al soltar */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animación de los otros elementos apartándose */
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
