@import "tailwindcss";
@import "primeicons/primeicons.css";

@import "swiper/css";
@import "swiper/css/pagination";

@plugin "tailwindcss-primeui";
@plugin '@tailwindcss/typography';

/* DIALOG CONFI */
.p-dialog-content {
  margin-bottom: 60px;
}
.p-dialog-footer {
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
